$darkColorBG: #232323;
$buttonColor: #2FA9F3;
$hoverColor: rgb(0, 130, 182);
$whiteColor: white;
$boxShadowColor: 0 0 7px 1px solid rgba(60, 60, 60, 0.4);
$bigFont: 16px;
$smallFont: 14px;

body{
    background-color: $darkColorBG;
    margin: 0;
    padding: 0;
}

header{
    position: relative;
    top:-1000px;
    z-index: 2;
}

img{
    object-fit: cover;
}
@mixin flex-direction-column{
    display: flex;
    flex-direction: column;
}

.allContent{
    @include flex-direction-column();
    min-height: 100vh;

    .guideInformation{
        @include flex-direction-column();
        top: -930px;
        position: relative;
    }

    .headerImage{
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;
        padding: 500px;

        picture{
            position:absolute;
            top:0;
            left:0;
            right: 0;
            bottom: 0;
            display: flex;
            justify-content: center;

            .header-top-gradient {
                background: linear-gradient(#000,transparent);
                opacity: .6;
                top: 0;
                width: 100%;
                height: 110px;
                z-index: 1;
                content: "";
                position: absolute;
            }

            img{
                clip-path: polygon(0 0, 100% 0, 100% 55%, 0 49%);
                object-fit:cover;
                width: 100%;
                height: 100%;
                transform: scaleX(-1);
            }
        }
    }
}


/*GUIDE*/
.guide{
    width: 100%;
    box-shadow: $boxShadowColor;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-right: 100px;
}

.imageGuide img{
    border-radius: 15px;
    width: 100%;
    max-width: 616px;
    border: 5px solid $darkColorBG;
    background-color: $darkColorBG;
    border-radius: 10px;
}

.newGuide{
    width: 500px;
    background-color: $darkColorBG;
    backdrop-filter: blur(60px) saturate(200%);
    border-radius: 10px;
    padding: 25px;
    color: $whiteColor;

    #inputGuide{
        font-weight: bold;
        color: $whiteColor;
        width: 100%;
        line-height: 2em; 
        outline: 0;
        border: none;
        border-bottom: 1px solid $buttonColor;
        background: transparent;
        font-size: $bigFont;
    }
}

.guiaJuego{
    opacity: 1;
}

/*COMMENTS*/
.profilePicture{
    padding-left: 2%;

    img{
        width: 75px;
        height: 75px;
        border-radius: 50%;
    }
}

.userInfo{
    margin-bottom: 7%;
}

.pfp img{
    margin: 10px;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    float: left;
}

.commentContainer{
    display: flex;
    align-items: center;
    width: auto;
    background-color: $darkColorBG;
    box-shadow: $boxShadowColor;
    margin: 10px;
    padding: 10px;
    border: 1px solid $whiteColor;
    border-radius: 5px;
}

#newComment{
    width: 85%;
    color:white;
    line-height: 2em; 
    border: none;
    outline: 0;
    border-bottom: 1px solid $whiteColor;
    background: transparent;
    padding-top: 30px;
}

@mixin buttonStyle{
    margin-top: 10px;
    position: relative;
    height: 25px;
    background-color: $buttonColor;
    border: none;
    color: $whiteColor;
    border-radius: 10px;
}

.buttonComment, .buttonGuide{
    @include buttonStyle();

    &:hover{
        cursor: pointer;
        background-color: $hoverColor;
    }
}

.buttonGuide{
    width: 100%;
}

.textComment{
    padding-left: 10px;
}

.userComment{
    color: $whiteColor;
    font-weight: bold;
}

.comment, .commentSin{
    color: $whiteColor;
    margin-top: 10px;
    font-size: $smallFont;
}

.dateComment{
    color: grey;
    font-size: $smallFont;
}

$colorList: #3CCECB, #CE0000, #00CE0A, #CE8600, #CE00AF;

@for $i from 1 through 5{
    #colortexto#{$i}{
        text-shadow: 2px 1px 2px nth($colorList, $i);
    }
}