.box img{
    width: 100px;
    height: 100px;
    margin-top: 5px;
    border-radius:150px;
    object-fit:cover;
}
label,input{
    margin-top: 10px;
    margin-bottom: 10px;
}
.label-user{
    text-align: right;
}

#perfilForm{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    text-align: center;

    /* width:400px; */
    
   
    background-color:#232323;
    color:white;
    margin :0 auto;
    opacity: 0.95;
    border-radius:15px;
}
.div-perfil{
    width: 70%;
  
    margin: 0 auto;
}

form label{
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
}

#Email{
    width: 200px;
}


.buttonForm{
    color: white;
    width: 80%;
    background-color: rgb(0, 166, 255);
    height: 25px;
    border: 1px solid rgb(0, 166, 255);
    border-radius: 5px;
    text-align: center;
   
    margin-left: 5px;
    margin-right: 5px;


}

.buttonForm:hover{
    cursor: pointer;
    background-color: rgb(0, 130, 182);
    border: 1px solid rgb(0, 118, 182);
}

#Botones{
    width: 180%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.name-user{
    margin: auto 0 ;
}


.user-box{
border: none;
border-bottom: 1px solid #fff;
outline: none;
background: transparent;

}
input  {
    border: none;

outline: none;
background: transparent;
color: #fff;
text-align: center;
}
.div-atr{
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
progress{
    width: 100%;
    margin: 0 auto;
    margin-top: 35px;
    height: 50px;

}

.puntuacion{
    margin-top: 0;
    text-align: right;
}



@media only screen and (max-width: 500px) {
    progress{
        width: 50%;
        margin: 0 auto;
        margin-top: 35px;
        height: 50px;
        margin-left: 10%;
    
    }
    
   

    .grid-container {
        display: grid;
        justify-content: center;
        grid-template-columns:  repeat(2,1fr);
    }
  
}


@media only screen and (max-width: 700px) {
    progress{
        width: 90%;
        margin: 0 auto;
        margin-top: 35px;
        height: 50px;
    
    }
.barra_busqueda{
    display: none;
}
    .div-atr{
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .grid-container {
        display: grid;
        justify-content: center;
        grid-template-columns:  repeat(2,1fr);
    }
}


@media only screen and (max-width: 300px) {
    progress{
        width: 50%;
        margin: 0 auto;
        margin-top: 35px;
        height: 50px;
        margin-left: 10%;
    
    }
    .barra_busqueda{
        display: none;
    }
    .div-atr{
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .grid-container {
        display: grid;
        justify-content: center;
        grid-template-columns:  repeat(2,1fr);
    }
  
}




