 .form { /*CAMBIADOS NOMBRES DE FORMULARIO Y DIV*/
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #232323;
    opacity: 0.95;
    border-radius: 10px;
    color: #fff;

}

.form label{
    font-weight: bold;
}
.register-box{
    width: 100%;
}

.register-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.errorMessage{
    font-size:small;
    color: red;
}

.buttonForm{
    color: white;
    width: 100%;
    background-color: rgb(0, 166, 255);
    height: 25px;
    border: 1px solid rgb(0, 166, 255);
    border-radius: 5px;
}

.buttonForm:hover{
    cursor: pointer;
    background-color: rgb(0, 130, 182);
    border: 1px solid rgb(0, 118, 182);
}

a{
    color: rgb(0, 118, 182);
    text-decoration: none;
}

a:hover{
    color: rgb(0, 166, 255);
}

/*.messageLogin{ ARREGLAR
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}*/

.forgotPassword, .messageLogin{
    font-size: small;
    width: 100%;
    max-width: 250px;
}

.errorRegister{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: small;
}

input{
    width: 100%;
}

.errorInput {
    border: 1px solid red;
} 